.dreamfox-field {
  margin-bottom: 40px;
  small {
    font-size: 11px;
  }
}
.dreamfox-field__label {
  color: #1d2327;
  font-size: 17px;
  margin: 1em 0;
  line-height: 1.4em;
  display: block;
  font-weight: 600;
  display: block;
}
.dreamfox-label {
  display: flex;
  align-items: center;
}